@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #383C4A;
  --dark-gray: #4B5162;
  --gray: #7C818C;
  --blue: #5294E2;
}

.small-h1,
.big-h1,
.houses,
.player-house-highlight,
.player-house-non-highlight,
.player-bars,
.player-turn,
.diamond-class,
.player-house-distribute {
  transition: all 0.1s linear;
}


/*  PLAYER IDENTITY  */
#player-id {
  color: var(--dark-blue);
  font-family: 'Montserrat', sans-serif;
  margin: 20px;
  text-align: center;
}

.small-h1 {
  font-size: 0px;
}

.big-h1 {
  font-size: 30px;
}


/*  SUNGKA BOARD  */
#sungka-board {
  width: 60vw;
  background-color: var(--dark-blue);
  display: grid;
  grid-template-areas: 'headO one two three four five six seven headT'
                       'headO eight nine ten eleven twelve thirteen fourteen headT';
  grid-gap: 10px;
  border-radius: 120px;
  justify-items: center;
  align-items: center;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.heads {
  width: 5.5vw;
  height: 5.5vw;
  background-color: var(--gray);
  padding: 20px;
  border-radius: 50%;
  position: relative;
}

.houses {
  width: 3.5vw;
  height: 3.5vw;
  background-color: var(--gray);
  padding: 10px;
  border-radius: 50%;
  position: relative;
}

#head1 {
  grid-area: headO;
}

#house1 {
  grid-area: one;
}

#house2 {
  grid-area: two;
}

#house3 {
  grid-area: three;
}

#house4 {
  grid-area: four;
}

#house6 {
  grid-area: six;
}

#house7 {
  grid-area: seven;
}

#house8 {
  grid-area: eight;
}

#house9 {
  grid-area: nine;
}

#house10 {
  grid-area: ten;
}

#house11 {
  grid-area: eleven;
}

#house12 {
  grid-area: twelve;
}

#house13 {
  grid-area: thirteen;
}

#house14 {
  grid-area: fourteen;
}

#head2 {
  grid-area: headT;
}

.player-house-highlight {
  border: 3px solid white;
}

.player-house-distribute {
  border: 3px dashed white;
}

.player-house-non-highlight {
  opacity: 0.5;
}

.count-house, .count-head {
  width: 1.5vw;
  height: 1.5vw;
  background-color: var(--dark-gray);
  color: white;
  font-size: 0.8vw;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 3px;
  position: absolute;
  border-radius: 50%;
}

.count-house {
  top: -5px;
  right: -5px;
}

.count-head {
  top: 0;
  right: 0;
}

.diamond-class {
  width: 1.5vw;
  position: absolute;
  animation: diamondPut 0.5s forwards;
}

@keyframes diamondPut {
  from {
    transform: translate(-100%, -100%);
  } 
   
  to {
    transform: translate(0, 0);
  }
}

.diamond-class-hide {
  opacity: 0;
  transition: all 1s linear;
}

/*  DIAMOND-COUNT ON HAND (DCOH)  */
#diamond-count-on-hand {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  animation: dcoh 0.5s forwards;
}

@keyframes dcoh {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#img-dcoh {
  width: 3vw;
}

#big-p {
  font-size: 1vw;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

#p-dcoh {
  font-size: 2vw;
  font-family: 'Poppins', sans-serif;
}


/*  PLAYER BAR  */
.player-bars {
  box-sizing: border-box;
  width: 50%;
  position: fixed;
  bottom: 0;
  opacity: 0.5;
}

.player-turn {
  opacity: 1;
}

#player1-bar {
  left: 0;
}

#player2-bar {
  right: 0;
}